* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    display: grid;
    background-color: #09a5ff;
    height: 100vh;
    padding: 0 40px;
    margin: 0;
    color: white;
}


.sidebar p {
    margin: 8px 0 0; 
}

.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar-items-top *,
.sidebar-items-bottom  * {
    font-size: 0.8rem;
    list-style: none;
    margin: 0;
    margin-top: 6px;
    justify-content: start;    
}

.sidebar-items-top li,
.sidebar-items-bottom li {
    display: flex;
    gap: 8px;
    margin: 0px;
}

.sidebar img {
    width: 1rem;
    height: 1rem;    
}

